@import "style/variables";

.IndexPage {
  padding: 20px;

  &__entityBlock {
    margin-left: 30px;
  }

  &__entityItems {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}
