@import "style/variables";

.FieldParamsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  row-gap: 0;

  &__fieldOption {
    margin-bottom: 5px;
    min-width: 200px;
  }
}
